
<%= stylesheet_link_tag "6.css"%>

<div class = "wrapper">
<div id="body-a">
<div id="wrap">
<div id="progress">
<h1>Connect with people you know on LinkedIn</h1>
<span> Step <strong>5</strong> of <strong>7</strong></span>
</div>
<form id="select-contacts">
<div class="contacts">
We have found X  people you know on LinkedIn. Select the people you'd like to connect to.
<div class="contacts-block">
<div class="contacts-header">
<p class="select-all">
<input id="select-all" type="checkbox" checked="" value="all">
Select All
</input>
</p>

<p class="number-selected">
X selected
</p>

</div>
</div>
</div>
<p class="actions"><input class="add" type="submit" value="Add Connection(s)" name="submit"></input><span class="alternate">
      
            or 
    <a href="/users">
      Skip this step
	</a>
    </span></p>
	</form>
</div>

</div>

</div>
