<%= stylesheet_link_tag "3.css"%>
<%= stylesheet_link_tag "4.css"%>

<div class = "body_wrapper">
	

<div class  = "Enter">

</div>
<div id ="container1">

<div id = "remaining">
Confirm Your Google Account
</div>

<p>Click below to sign in with Google and verify your email address.</p>

<p>We'll also check your Google contacts to see who you already known on LinkedIn.</p>


<button class="submitbutton" type="submit" id="btn-submit">Confirm My Google Account</button>


<div id = "skip">
<%=link_to 'Send a confirmation email instead' , next_wizard_path %>
<!--<a id="skipButton" href="/user_steps/update">
              Send a confirmation email instead
            </a>-->
            »
</div>

</div>
													
	
</div>
