
<%= stylesheet_link_tag "4.css"%>
	<div class = "body_wrapper">
		

	<div class  = "Enter">

	</div>
	<div id ="container1">

		<div id = "remaining">
		Confirm Your Email Address
		</div>

		<p>A confirmation email has been sent to <strong><%=@user.email%></strong>.Click on the confirmation link in the email to activate your account. </p>
		<a href="/user_steps/share">
		<button class="submitbutton" type="submit" id="btn-submit">Go to Gmail Now</button>
</a>
	</div>
															
</div>