<div class="main">
<%if @users.present?%>
<% @users.each do |user| %>
    <div >
      <%=user.name%>
      <%if user.student.any?%>
          <span>Student at</span>
        <%user.student.first.inst_name%>
      <%end%>
      <%if user.employment.any?%>
        <span><%=user.employment.first.title+" at "%></span>
          <%=user.employment.first.company%>

      <%end%>
      <%=link_to 'ADD',new_friendship_path(:id=>user)%>

    </div>


<%end%>
<%end%>
</div>