@charset "utf-8";
/* CSS Document */
#whatis_heading2
{
	color:black;
	font-size:28px;
	text-align:center;
	margin-top:0;
	line-height:30px;
	padding-bottom:50px;
	margin-bottom:0px;
/*	margin-bottom:0;
*/}
#whatis_heading1
{
		color:black;
	padding-top:20px;
	font-size:28px;
	text-align:center;
	margin-bottom:0;
	margin-top:30px;
	line-height:30px;
}
.whatis_content h2
{
margin-top:0px;
}
.whatis_content p
{
	margin-top:0px;
}

.whatis_content
{
	width:236px;

	text-align:center;
	float:left;
	
	margin-bottom:10px;
}
#content_connect
{
	padding-left:10px;
	margin-left:82px;
	padding-right:15px;
	border-right: 1px solid #CCCCCC;
}
#content_connect div
{
	background:url(../images/icon_optimized_whatislinkedin_icon_sprite_236x750.png) no-repeat;
width: 236px;
height: 227px;
	
	
}
#content_power div
{
	
	background:url(../images/icon_optimized_whatislinkedin_icon_sprite_236x750.png) no-repeat;
	width: 236px;
	height: 227px;
	background-position: 0 -250px ;	
}
#content_power
{
	padding-left:10px;
	margin-left:10px;
	padding-right:15px;
	border-right: 1px solid #CCCCCC;
}
#content_learn
{
	padding-left:10px;
	margin-left:10px;
	

}
#content_learn div
{
	background:url(../images/icon_optimized_whatislinkedin_icon_sprite_236x750.png) no-repeat;
	width: 236px;
	height: 227px;
	background-position: 0 -500px ;	
}
.whatis_content h2
{
	font-size: 18px;
font-weight: bold;
line-height: 22px;
}
.whatis_content p
{
font-size: 13px;
line-height: 17px;
color: #333;
font-weight: normal;
padding-left: 20px;
padding-right: 20px;
}

#whatiscontainer
{
	color:#000000;
	overflow:auto;
}

#join_button
{
	color:black;
	font-size:15px;
	text-align:center;
	padding-top:50px;
	clear:both;
	width:100%;
	overflow:auto;
	padding-bottom:50px;
}
#join_button label
{
    display: inline;
    font: inherit;
}
#button
{background-color: #eddb11;
filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEDDB11', endColorstr='#FFF2B21B');
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eddb11), color-stop(35%, #efcf14), color-stop(65%, #f1bf18), color-stop(100%, #f2b21b));
background-image: -webkit-linear-gradient(top, #eddb11 0%,#efcf14 35%,#f1bf18 65%,#f2b21b 100%);
background-image: -moz-linear-gradient(top, #eddb11 0%,#efcf14 35%,#f1bf18 65%,#f2b21b 100%);
background-image: -o-linear-gradient(top, #eddb11 0%,#efcf14 35%,#f1bf18 65%,#f2b21b 100%);
background-image: linear-gradient(top, #eddb11 0%,#efcf14 35%,#f1bf18 65%,#f2b21b 100%);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
box-shadow: 0 1px 3px rgba(0,0,0,0.25);
font-weight: bold;
border-width: 1px;
border-style: solid;
cursor: pointer;
margin: 0;
overflow: visible;
text-decoration: none !important;
width: auto;
text-shadow: 0 1px 1px rgba(255,255,255,0.75);
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
padding: 0 15px;
height: 34px;
line-height: 32px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
font-size: 16px;
color: #333;
background-color: #f6e312;
border-color: #e9ac1a;
filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF6E312', endColorstr='#FFF9C80D');
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6e312), color-stop(100%, #f9c80d));
background-image: -webkit-linear-gradient(top, #f6e312 0%,#f9c80d 100%);
background-image: -moz-linear-gradient(top, #f6e312 0%,#f9c80d 100%);
background-image: -o-linear-gradient(top, #f6e312 0%,#f9c80d 100%);
background-image: linear-gradient(top, #f6e312 0%,#f9c80d 100%);
white-space: nowrap;
display: -moz-inline-stack;
display: inline-block;
vertical-align: middle;
zoom: 1;
vertical-align: middle;
margin-left:10px;
}

