
<html>
<link rel ="Stylesheet" type="text/css" href="styling/a.css" />


	
	<div id="dialog-wrapper" >
	
	<div class="dialog-mask" >
	
	<div class="dialog-window" >
	<div class="dialog-title">
	<h3 id="li-dialog-aria-label" class="title">Skip seeing who you already know?</h3>
	</div>
	<div class="dialog-body">
	<div class="dialog-content" >
	<div class="dialog-container" id="abook-benefits-prompt">
    <div class="alert">
      <p>
        If you skip this step, you'll miss out on easily finding people you know on LinkedIn.
      </p>
    </div>
    <p class="actions">
      <button type="button" class="btn-primary dialog-close" id="benefitsContinue">Find now</button>
      <a class="btn-secondary" href="file:///C:/Users/Ahmad/Desktop/Data/Sprint%201/4.html">Skip</a>
    </p>
  </div></div></div></div></div>
  </div>
    
	
</html>
