
<%= stylesheet_link_tag "5.css"%>

<div class = "wrapper">
<div id="metal-body">

<div id="wrap-a">
<div id="progress-a">
<h1>Congratulations! You've just created your professional profile.</h1>
<span> Step <strong>4</strong> of <strong>7</strong></span>
</div>
<div class="info-main">
<div class="info-block">

<h2>haza kullu</h2>

<p class="occupation">Student at FAST NU</p>

 <p class="geography">   Pakistan </p>


</div>

<div class="link-block">
<textarea id="broadcastMessage-Form" class="" maxlength="420" name="broadcastMessage" data-base-height="34">
I just joined LinkedIn and created my professional profile. Join my network. http://lnkd.in/bFy_AJG
    </textarea>
	<div id="profile_url">
	Your profile URL: http://lnkd.in/bFy_AJG
	</div>



	
</div>
<button class="btn-icon" data-li-service="FACEBOOK"><span>
      
                    Share on Facebook
              
    </span></button>

<button class="btn-icon " data-li-service="TWITTER"><span>
      
                    Share on Twitter
              
    </span></button>
	
	
	<p class="actions-a">  
    <a href=#>
      Skip this step
	</a>
    </span></p>
	
</div>
</div>
</div>
</div>
