
<%= stylesheet_link_tag "2.css"%>

<div class = "body_wrapper">
	

	
<div id = "container">

<div id = "remaining">
Grow your network on LinkedIn

</div>

</div>

<div id ="container1">

<p class="introduction">
      Get started by adding your email address.
</p>

<div class = "error" id = "error1">
			<strong>Please Enter a Valid Email Address.</strong>
</div>

<li>
						
						   <label> Your Email:</label>
							<div class = "text">
				    		    <input type="email" name="email">
						    </div>
							
</li>


<button class="submitbutton" type="submit" id="btn-submit">Continue</button>

<p class = "foot1">
We will not store your password or email anyone without your permission.
</p>


</div>

<div id = "skip">

<a id="skipButton" href="#" onClick"">                 <!--java script-->
              Skip this step
            </a>
			
            »
</div>

<div id = "Enter">
</div>
													
	
</div>


