
<%= stylesheet_link_tag "7.css"%>
<div class = "body_wrapper">
	


<div class = "reset">
	<h1>Please check your email</h1>


<p>We've sent you an email that will allow you to reset your password quickly and easily. </p>

<button class="submitbutton" type="submit" id="btn-submit">Check Your Email Now</button>

</div>

</div>