<div class="container">
  <%=form_for @friendship do |f| %>
        <label>Email</label>
        <input name ="email"type="text"/>

          <%= f.submit 'Update', :class => ["btn","primary"] %>

  <%end%>


</div>