/* CSS Document */

#about_container
{
	margin-top:80px;
	background:inherit;
	overflow:auto;
	color:#000;
}
#left_div
{
	float:left;
	clear:left;
	padding: 22px 22px 40px 25px;

	width:599px;
	margin-top:5px;
	background-color:white;
	line-height:1.2;
	font-size:13px;
}
#left_div h1
{
	font-size: 22px;
font-weight: bold;
line-height: 24px;
color: #000;
margin: 0 0 2px 0;
}

#right_div
{
	padding: 22px 22px 40px 25px;
	float:right;
	width:271px;
		background-color:white;
}

#left_div hr,#right_div hr
{
	height:1px;
	background: #e8e8e8;
	border:none;
	margin: 20px 0;
}
#right_div ul
{
	padding-left:20px;
}
#right_div > h3
{
	font-size:16px;
	font-weight:normal;
	margin-top:0px;
	padding-top:0;
}
#right_div >h3 >span
{
	font-size:13px;	
}
#right_div ul
{
	list-style:none outside none;
}
#right_div
{	font-size:13px;}
#right_div a
{
	color:#666;
	line-height:17px;
}
#right_div a:hover
{
	color:#0077b5;
}
