
html{
	font-family:Arial, Helvetica, sans-serif;

	height:auto;
	font-size:22px;

}


body{
	
	background:white;
	margin:0px;
	height:100%;
	line-height:1.2;
	
	font-size:62.5%;
}


#body
{

margin-top: 80px;
width : 974px;
height : 150px;

margin-left: 15%
}



.nav-footer a
{

		font-size:90%;

}
.nav-footer span.nav-footer-span-last
{
	border-right:none;
}



.submitbutton
{
vertical-align: middle;
font-family: Arial,sans-serif;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #73aec9), color-stop(5%, #73aec9), color-stop(5%, #338ab0), color-stop(100%, #0571a6));
border-color: #045a8b;
color: #fff !important;
border-width: 1px;
border-style: solid;
border-width: 1px;
border-style: solid;
-webkit-border-radius: 3px;
border-radius: 3px;
cursor: pointer;
font-size: 12px;
line-height: 1.35;
margin: 0;
overflow: visible;
padding: 3px 10px 2px;
background: rgb(4, 90, 139);

}
.signin input
{

margin-top : 25px;

}
li {
display: list-item;
text-align: -webkit-match-parent;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
height: 30px;
margin-top : 5px;
}

ul {

margin-left: -40px;
list-style: none;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;

}

.text input
{
width :325px;
margin-top : 10px;
}

h1 {
font-size: 18px;
margin: 0 0 15px;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-family: inherit;
vertical-align: baseline;
display: block;
-webkit-margin-before: 0.67em;
-webkit-margin-after: 0.67em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;

}
.nav-footer span {
    font-size: 12px;
    color: #666666;
    border-right: 1px solid #CCCCCC;
	margin-right: 8px;
    margin-top: 5px;
	padding-right:8px;

}
.nav-footer {
    padding-top:10px;
    border-top:1px solid #CCCCCC;
}