    <div id="nav-footer1">
        <span> <strong><a href="#">Help Center</a></strong> </span>
        <span>	<%= link_to 'About',about_path %></span>
        <span>   	<a href="#">Press</a></span>
        <span>   	<a href="#">Blog</a></span>
        <span> 	<a href="#">Careers</a></span>
        <span> 	<a href="#">Advertising</a></span>
        <span> 	<a href="#">Talent Solutions</a></span>
        <span>	<a href="#">Tools</a></span>
        <span>	<a href="#">Mobile Developers</a></span>
        <span>    <a href="#">Publishers</a></span>
        <span>    <a href="#">Language</a></span>
        <span class ="nav-footer-span-last">    <a href="#">SlideShare</a></span>
    </div>




    <div id="nav-footer2" >

        <span> <a href="#">LinkedIn Updates</a> </span>
        <span>	<a href="#">LinkedIn Influencers</a></span>
        <span>   	<a href="#">LinkedIn Jobs</a></span>
        <span>   	<a href="#">Jobs Directory</a></span>
        <span> 	<a href="#">Company Directory</a></span>
        <span> 	<a href="#">Groups Directory</a></span>

        <span class ="nav-footer-span-last">    <a href="#">Title Directory</a></span>
    </div>