<!DOCTYPE html>
<html lang="en" ><head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>LinkedIn</title> 
    <meta name="description" content="">
    <meta name="author" content="">
     <%= favicon_link_tag "/favicon.ico?1" %>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/docs.css" rel="stylesheet">
  <%= stylesheet_link_tag "layout.css"%>


    <!-- Le javascript -->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/jquery.tablesorter.min.js"></script>
    <script src="/javascripts/bootstrap-dropdown.js"></script>
    <script src="/javascripts/jquery.tablesorter.min.js"></script>
    <script src="/javascripts/application.js"></script>

<body class="background_texture">
	<div id = "myhead" align="center">
		<div class = "wrapper">


		</div>
	</div>





</body>